<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">ACERCA DE</h2>
                    <h3 class="section-subheading text-muted">Siempre a tu servicio</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>COMPAÑÍA COLOMBIANA</h4>
                                    <h4 class="subheading">Desarrollo y consultoría de software</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Somos una empresa Colombiana de consultoría en tecnologías de la información, integrada por un equipo multidisciplinario, enfocada en el desarrollo de aplicaciones web y móviles, en el sector de la ingeniería civil y otros.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>CALIDAD</h4>
                                    <h4 class="subheading">Evaluación contínua de nuestros procesos</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Nuestras soluciones son basadas en Drupal o el framework de tu preferencia. Realizamos el proceso de análisis y reflexión, diseño, desarrollo e implementación de aplicaciones web a la medida. Constantemente mejoramos nuestros productos para proveer siempre el mejor servicio. Nuestro objetivo siempre es lograr la satisfacción de nuestros clientes, por ello nuestro servicio es con compromiso y sentido de pertenencia.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>TECNOLOGÍAS Y LENGUAJES DE PROGRAMACIÓN</h4>
                                    <h4 class="subheading">Usamos ...</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Drupal (PHP) / Python (Django, Flask, WebApp2) / HTML5 / CSS3 / .Net / Android (Java) / GIT / Apache Cordova / Ionic Framework</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Seguimos<br>Creciendo!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
