<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Servicios</h2>
                    <h3 class="section-subheading text-muted">Esto es en lo que podemos colaborar</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Comercio electrónico</h4>
                    <p class="text-muted">Empieza a vender tus productos y servicios en línea. Nosotros nos ocupamos de todos los detalles en ventas por internet. Expande tu negocio!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Desarrollo Software</h4>
                    <p class="text-muted">Análisis y reflexión, diseño e implementación de Sistemas de Información basados en la web. Usamos Drupal o el framework de tu preferencia para construir tu solución.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile-phone fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Desarrollo de aplicaciones móviles</h4>
                    <p class="text-muted">Llega a más personas a través de los teléfonos móviles y las apps. Imagina lo que quieres y nosotros lo construimos.</p>
                </div>
            </div>
        </div>
    </section>
